.header-container {
  @include raw;
  justify-content: space-between;
  padding-bottom: 50px;
  align-items: center;
}
.header-container img {
  max-height: 50px;
}
.header-nav {
  justify-content: center;
  align-items: center;
}
.header-nav ul {
  @include raw;
  gap: 50px;
  font-size: 1rem;
  color: $color-2;
  align-items: center;
}

.active {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: $color-2;
  }
}
